#Response {
    max-width: 800px;
    /* min-width: 484px; */
    margin: auto;
}

#box {
    margin: auto;
    /* max-width: 40%; */
    border: 3px solid cornflowerblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#imageholder {
    margin: auto;
    width: 60%;
    padding: none;
}

select {
    min-width: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 2em;
    height: auto;
    display: block-inline;
    padding: none;
}

textarea {
    margin: 3px;
}

button {
    
    padding: 2px 2px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px darkgray;
}

button:hover {
    background-color: blue;
}

button:active {
    background-color: navy;
    box-shadow: 0 3px gray;
    transform: translateY(2px);
}

#submit {
    border-radius: 10%;
    font-size: 2em;
}

.footer a:link, .footer a:visited {
    color: black;
}